<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <title>Barbería Hilos y Procesos</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <div class="container">
        <table>
            <thead>
                <tr>
                    <th>
                        <div class="th-images">
                            <img th:src="@{/images/registro.png}" alt="Registro">
                            <img th:src="@{/images/registro.png}" alt="Registro">
                            <img th:src="@{/images/registro.png}" alt="Registro">
                        </div>
                        Agendamientos Citas
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="opciones">
                    <td>
                        <a th:href="@{/agendar_cita}">
                            <button>Agendar</button>
                        </a>
                        <a th:href="@{/buscar_citas}">
                            <button>Buscar</button>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</body>
</html>
